


.Home {
  background-color: Teal;
}

.Box {
  background-color: floralwhite;
  border: 3px solid teal;
  margin: 10px;
}

.Container-Column {
  display: flex;
  flex-basis: 1;
  flex-direction: column;
  align-items: center;
  background-color: floralwhite;
  padding: 10px;
}

.Container-Row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Section-Header {
  color: Teal;
  font-size: 1.25em;
  font-family: 'Roboto Slab', serif;
}

.Header {
  color: Teal;
  text-emphasis: bold;
  font-size: 1.1em;
  font-family: 'Vast Shadow', serif;
}

.NewItem-Header {
  color: teal;
  font-size: 1em;
  text-align: center;
}

.Task{
  font-size: 1em;
  line-height: 1em;
}

.TaskMemo {
  font-size: .75em;
  line-height: .75em;
}

.TextInput {}

.TextArea {}



/* USED AS LABELS -- NOT STYLES YET */
.NextActions{}
.CurrentProjects{}
.Calendar{}